<%- include("header") -%> 

<h1>This is the about page</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur voluptate maxime, veritatis vitae exercitationem reiciendis harum dolor cupiditate ullam maiores.</p>

<%- include("footer") -%>